<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <!--CONECTAR AO BANCO DE DADOS-->

  <connectionStrings>
    <add name="conectar" connectionString="Server=DESKTOP-79R9K1O\SQLEXPRESS;Integrated Security=yes; Database=ESTOQUE_PRODUTOS" />
    <add name="CapaApresentacao.Properties.Settings.Configuração"
      connectionString="Data Source=DESKTOP-79R9K1O\SQLEXPRESS;Initial Catalog=ESTOQUE_PRODUTOS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.windows.forms jitDebugging="true" />
  
</configuration>